@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/instagrama-76a12.appspot.com/o/images%2FDesign%20sem%20nome%20(1).png?alt=media&token=d80bd49f-63c0-41e5-a1d8-bdac59eb29cc");
}

.container-blog {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 15px;
  align-items: center;
  margin-left: 10%;
  padding: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #86bcc6 !important;
  color: black;
}

.container-blog img {
  display: block;
  margin: 20px auto; /* Centraliza horizontalmente */
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; /* Bordas arredondadas */
}

.container-blog img {
  width: 650px; /* Ajuste o tamanho conforme necessário */
  height: 450px;
  object-fit: cover;
}

.texto {
  font-family: 'Josefin Sans';
  font-size: 19px;
  text-align: start;
  margin-left: 15rem;
  margin-right: 15rem;
}

h3, h4 {
  text-align: start;
  padding: 10px;
}

.lista {
  font-family: 'Josefin Sans';
  font-weight: bold;
  text-align: center;
  margin-top: 22px;
  margin-left: 15rem;
  margin-right: 15rem;
  font-style: italic;
}

.referencia {
  font-family: 'Josefin Sans';
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}

.Back {
  margin-bottom: 10px;
  display: block;
  text-align: start;
  border-radius: 30px;
  color: black;
  width: 50px;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}