@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-principal: #25717e;
    --cor-secundaria: #86bcc6;
    --cor-fundo: #f5f5f5;
    --cor-texto: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

/*Texto no inicio da página*/

.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #25717e;
}

.banner {
    padding: 40px 20px;
    margin: 20px 0;
    text-align: center;
}

.banner p {
    font-size: 1.2rem;
}

.titulob {
    text-align: center;
    font-size: 2rem;
    color: #25717e;
}

/*Carousel*/
.carousel-inner {
    display: flex; /* Permite o uso de flexbox para centralização */
    justify-content: space-between; /* Centraliza horizontalmente */
    height: 500px; /* Altura do carrossel */
}

.carousel-inner img {
    height: 100%;
    width: 500px;
    object-fit: contain;
    margin: auto;
}

.carousel-caption p {
    margin-bottom: 20px; /* Adiciona um espaço entre a legenda e o botão */
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.carousel-item {
    margin-bottom: 30px; /* Espaçamento entre os itens do carrossel */
}

.carousel-caption h5 {
    font-weight: bold;
    font-size: 1.5rem;
}

.carousel-caption p {
    font-size: 1rem;
}

.carousel-indicators {
    bottom: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-indicators button {
    background-color: #86bcc6;
    border: none;
}

.carousel-indicators button.active {
    background-color: #25717e; 
}

/* Aumenta o tamanho dos indicadores, se necessário */
.carousel-indicators button {
    border-radius: 5px;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    width: 5%;
}

.carousel-control-next {
    left: 75%;
}

.carousel-control-prev {
    margin-left: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #86bcc6;
    border-radius: 5px;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    color: white;
    font-size: 1.5rem;
}

/* Botão leia Mais */
.buttonb {
    background-color: var(--cor-principal);
    color: white;
    padding: 12px 24px; /* Aumenta o tamanho do botão */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

.buttonb:hover {
    background-color: var(--cor-secundaria);
    transform: scale(1.05); /* Efeito de aumento no hover */
}

