@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/instagrama-76a12.appspot.com/o/images%2FDesign%20sem%20nome%20(1).png?alt=media&token=d80bd49f-63c0-41e5-a1d8-bdac59eb29cc");
}

.center {
  border: 1px solid #ccc;
  background-color: #FFF;
  width: 80%;
  border-radius: 8px;
  margin: 15px;
  text-align: center;
  padding: 15px;
}

h1{
    font-family: "josefin sans";
}
p{
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    font-size: 22px;
    margin-left: 20rem;
    margin-right: 25rem;
}

.alinhar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin-left: 2rem;
    margin-right: 2rem;
}

h2{
font-family: "josefin sans";
display: flex;
margin-left: 20rem;
margin-right: 25rem;
}


.pp{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin-left: 20rem;
    margin-right: 25rem;
}
.alinhar2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin-left: 20rem;
    margin-right: 25rem;
}
