@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/instagrama-76a12.appspot.com/o/images%2FDesign%20sem%20nome%20(1).png?alt=media&token=d80bd49f-63c0-41e5-a1d8-bdac59eb29cc");
    
    min-height: 100vh;
    margin: 0;
}

#container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.back {
    margin-bottom: 10px;
    display: block;
    text-align: start;
    border-radius: 30px;
    color: black;
    width: 50px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}


form {
    display: flex;
    width: 50%;
    justify-content: center;

}

#infobanner {
    grid-column: 1 / -1;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #25717e;
}

.add-animal-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 50%;
}

h2 {
    color: #25717e;
    margin-bottom: 20px;
}

.cadastro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
}

.cadastro label {
    font-weight: bold;
    color: #333;
}

.cadastro input,
.cadastro select,
.cadastro textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.cadastro textarea {
    height: 100px;
    resize: none;
}

.btn-cadastrar {
    padding: 12px;
    background-color: #25717e;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cadastrar:hover {
    background-color: #86bcc6;
}

input::placeholder,
textarea::placeholder {
    color: #a3a3a3;
    font-style: italic;
    opacity: 1;
}

input:focus::placeholder,
textarea:focus:placeholder {
    color: #86bcc6;
    opacity: 0.8;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .add-animal-container {
        padding: 20px;
    }

    .cadastro input,
    .cadastro select,
    .cadastro textarea,
    .cadastro button {
        font-size: 16px;
    }
}

@media (max-widht: 576px) {
    .add-animal-container {
        padding: 10px;
    }

    #image-preview {
        max-height: 100px;
    }

    .cadastro input,
    .cadastro select,
    .cadastro textarea,
    .cadastro button {
        font-size: 14px;
    }

}

#image-preview-container {
    margin-top: 15px;
    text-align: center;
    display: none;
}

#image-preview {
    max-width: 100%;
    max-height: 200px;
    border: 2px solid #25717e;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}